.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    display: block;
}
a {
    display: block;
    margin-top: 150px;
}
